*

!.gitignore

!vite_md/
!vite_md/**

!Vite_molstar/
!Vite_molstar/**

!Vite_molstar_story/
!Vite_molstar_story/**

!vmstar_diffusion/
!vmstar_diffusion/**

**/node_modules/
**/dist/
**/.vite_cache/
**/build/
**/.DS_Store
**/npm-debug.log*

vite_md/datas/
vite_md/scripts/
vite_md/public/datas/trajectory_nowater_stride5_multimodel.pdb

Vite_molstar/datas/bck/
Vite_molstar/datas/sdf_to_csv.py

Vite_molstar_story/datas/*.png
Vite_molstar_story/datas/*.md

vmstar_diffusion/public/datas/renumber_pdb.py
vmstar_diffusion/public/datas/*.bck
vmstar_diffusion/public/datas/outputs/
vmstar_diffusion/public/datas/trajs_ori/
